.bordeado {
    box-sizing: border-box;
    border-radius: 8px;
}

.card-image {
    margin-top: 5px;
}

.classImage {
    margin: auto;
    border-radius: 100% !important;
    width: 100% !important;
}

input.bordeadito:focus {
    border-bottom: 1px solid #201919 !important;
    box-shadow: 0 1px 0 0 #201919 !important;
    margin-left: 0.75rem;
    width: calc(100% - 30px);
}

input.bordeadito {
    border: 1px solid #78909C;
    padding-left: 5px;
    margin-left: 0.75rem;
    width: calc(100% - 30px);
}

.relative {
    position: relative;
}

.titulo2 {
    font-size: 20px;
    font-weight: 500;
    margin-left: 0.75rem !important;
    margin-top: 2rem !important;
}

.titulo3 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 0.75rem !important;
    margin-top: 2rem !important;
    color: #546E7A;
}

.activeColor {
    color: green;
    font-weight: 600;
}

.noactiveColor {
    color: red;
    font-weight: 600;
}

.vererror {
    visibility: visible;
    font-weight: 600;
    color: red;
    display: inline-block;
}

.ocultarerror {
    visibility: hidden;
    display: inline-block;
}