.bordeado {
    box-sizing: border-box;
    border-radius: 8px;
}

.card-image {
    margin-top: 5px;
}

.classImage {
    margin: auto;
    border-radius: 100% !important;
    width: 100% !important;
}

.titulo2 {
    font-size: 20px;
    font-weight: 500;
    margin-left: 0.75rem !important;
    margin-top: 2rem !important;
}

.titulo3 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 0.75rem !important;
    margin-top: 2rem !important;
    color: #546E7A;
}

.activeColor {
    color: green;
    font-weight: 600;
}

.noactiveColor {
    color: red;
    font-weight: 600;
}

.vererror {
    visibility: visible;
    font-weight: 600;
    color: red;
    display: inline-block;
}

.ocultarerror {
    visibility: hidden;
    display: inline-block;
}
