<div [formGroup]="formCtrl" class="row">
    <div class="col s12 m10 l10 offset-m1 offset-l1">
        <div class="row col s12 m12 l12">
            <div class="row bottom-none">
                <div class="row div-volver">
                    <button class="btn-flat volver" (click)="irAROL()"><i class="material-icons ">chevron_left</i>Volver</button>
                </div>
            </div>
            <!--TITULO-->
            <div class="row">
                <div class="col s6 m6 l6">
                    <p class="tituloOP">{{ titulo }}</p>
                </div>
            </div>
        </div>
        <div class="row col s12 m6 l6">

            <div class="row bottom-none">
                <div class="input-field col s12 m12 l12 bottom-none">
                    <label class="relative" for="id_titulo">{{txt.titulo}}</label>
                    <input class="bordeadito cajon" [title]="'Ingrese el titulo'" maxlength="60" style="height: 2rem;" formControlName="titulo" id="ud_titulo" type="text">
                </div>
            </div>
            <div class="row bottom-none">
                <div class="input-field col s12 m12 l12 bottom-none">
                    <label class="relative" for="id_descripcion">{{txt.descripcion}}</label>
                    <textarea maxlength=255 formControlName="descripcion" id="id_descripcion" style="height: 20vh;" class="materialize-textarea bordeadito cajon"></textarea>
                </div>
            </div>
        </div>
        <div class="row col s12 m6 l6">
            <div class="row">
                <div class="col s12 m12 l12 titulo3">
                    <span>{{txt.rolSelecciona}}</span>
                </div>
            </div>
            <div formArrayName="items" class="row">
                <div *ngFor="let pp of getItems.controls| paginate: {id: 'listaFuncionalidadesId',itemsPerPage: pagination.pageSize,
    currentPage: pagination.page,
    totalItems: listaFuncionalidades.length
    }, index as i" [formGroupName]="pp?.get('ii')?.value" class="col s12 m6 l6">
                    <div style="margin-bottom: unset;" class="row">
                        <div class="col s12 m12 l12">
                            <div id="i">
                                <div class="cuadro cursorpointer">
                                    <div style="padding-top: 3%; margin-bottom: 0;" class="row">
                                        <div style="margin-right: 20px;" class="col s1 m1 l1">
                                            <div class="switch">
                                                <label>
                        <input formControlName="activo" type="checkbox" id="{{pp?.get('id')?.value}}">
                        <span class="lever"></span>
                      </label>
                                            </div>
                                        </div>
                                        <div class="col s9 m9 l9">
                                            <span class="tituloTS2">{{pp?.get('nombre')?.value }}</span>
                                        </div>
                                    </div>
                                    <div style="padding-bottom: 2%; height: 5vh;
          overflow: auto;" class="row">
                                        <div class="col s10 m10 l10 offset-s2 offset-m2 offset-l2">
                                            <span class="claroTxt">{{pp?.get('descripcion')?.value }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12 center-align">
                    <pagination-controls id="listaFuncionalidadesId" (pageChange)="cambioPagina($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12 bottom-none">
                <div class="row centrado">
                    <div class="col s12 m12 l12">
                        <button [disabled]="!((getTitulo.value?getTitulo.value.trim() != ''?true:false:false)
                        && (getDescripcion.value?getDescripcion.value.trim() != ''?true:false:false))" title="Crear rol" class="btn waves-effect waves-teal mybtn" type="button" (click)="crearRol()" name="action">
        {{ txt.guardar }}
        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>