.tituloOP {
    font-weight: 600;
    font-size: 25px;
}

.bordeado {
    border: 1px solid #B0BEC5;
    box-sizing: border-box;
    border-radius: 8px;
}

.classImage {
    margin: auto;
    border-radius: 100% !important;
    width: 50% !important;
}

.card-image {
    margin-top: 5px;
}

.registros {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #263238;
    margin: 0 8px;
}
