<nav *ngIf="this.common.apagado">
    <div class="nav-wrapper">
        <a (click)="menuPrincipal()" title="Ir a la pagina principal" class="brand-logo">{{texto.empresa}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!--li [ctrlAcceso]="path.USUARIO.permiso"><a title="Gestión de Usuario" (click)="menuUsuario()">{{texto.menuusuario}}</a></li-->
            <!--li [ctrlAcceso]="path.ROLES.permiso"><a title="Gestión de Roles" (click)="menuRoles()">{{texto.menuroles}}</a></li-->
            <li><a title="Iniciar Sesión" (click)="logOut()">{{texto.cerrar}}</a></li>
        </ul>
    </div>
</nav>
<header>
    <div class="cuadroPrincipal">
        <div *ngIf="this.common.apagado">
            <ul id="slide-out" class="sidenav sidenav-fixed  collapsible popout">
                <!--li class="black_c centrado">
                  <a (click)="menuPrincipal()" title="Ir a la pagina principal" class="support-brand brand-logo">{{texto.empresa}}</a>
              </li-->
                <!--[ctrlAcceso]="componente.F_LISTAR_ORDEN_PAGO.permiso"-->
                <!-- [routerLink]="[componente.MENU_USUARIO.route]" routerLinkActive="active"-->
                <li>
                    <div class="collapsible-header"><i class="material-icons">redeem</i>{{ texto.compras.titulo }}</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a>
                                    <i class="material-icons"></i>
                                    <span>{{ texto.compras.ordencompra }}</span>
                                </a>
                            </li>
                            <li [ctrlAcceso]="path.PROVEEDOR.permiso">
                                <a title="Gestión de Proveedores" (click)="menuProveedor()">
                                    <i class="material-icons">store</i>
                                    <span>{{ texto.compras.proveedor }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">local_library</i>{{ texto.stock.titulo }}</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a>
                                    <i class="material-icons"></i>
                                    <span>{{ texto.stock.producto }}</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="material-icons"></i>
                                    <span>{{ texto.stock.inventario }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">local_offer</i>{{ texto.ventas.titulo }}</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a>
                                    <i class="material-icons"></i>
                                    <span>{{ texto.ventas.pedido }}</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="material-icons"></i>
                                    <span>{{ texto.ventas.factura }}</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="material-icons"></i>
                                    <span>{{ texto.ventas.remision }}</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="material-icons"></i>
                                    <span>{{ texto.ventas.reportes }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">settings</i>{{ texto.configuraciones.titulo }}</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a routerLink="./clientes">
                                    <i class="material-icons"></i>
                                    <span>{{ texto.configuraciones.cliente }}</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="material-icons"></i>
                                    <span>{{ texto.configuraciones.banco }}</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="material-icons"></i>
                                    <span>{{ texto.configuraciones.moneda }}</span>
                                </a>
                            </li>
                            <li [ctrlAcceso]="path.USUARIO.permiso">
                                <a title="Gestión de Usuario" (click)="menuUsuario()">
                                    <i class="material-icons">people</i>
                                    <span>{{ texto.configuraciones.usuario }}</span>
                                </a>
                            </li>
                            <li [ctrlAcceso]="path.ROLES.permiso">
                                <a title="Gestión de Roles" (click)="menuRoles()">
                                    <i class="material-icons">lock</i>
                                    <span>{{ texto.configuraciones.roles }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--a href="#" data-target="slide-out" class="sidenav-trigger"><i class="small material-icons">menu</i></a-->
        </div>

    </div>
</header>
<main class="overflow">
    <router-outlet></router-outlet>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Procesando...</p>
    </ngx-spinner>
</main>

<body></body>