<div class="cuadroPrincipal">
    <div *ngIf="this.common.apagado">
        <nav>
            <div class="nav-wrapper">
                <a (click)="menuPrincipal()" title="Ir a la pagina principal" class="brand-logo">{{texto.empresa}}</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li [ctrlAcceso]="path.USUARIO.permiso"><a title="Gestión de Usuario" (click)="menuUsuario()">{{texto.menuusuario}}</a></li>
                    <li [ctrlAcceso]="path.ROLES.permiso"><a title="Gestión de Roles" (click)="menuRoles()">{{texto.menuroles}}</a></li>
                    <li><a title="Iniciar Sesión" (click)="logOut()">{{texto.cerrar}}</a></li>
                </ul>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <li class="black_c centrado">
                <a (click)="menuPrincipal()" title="Ir a la pagina principal" class="support-brand brand-logo">{{texto.empresa}}</a>
            </li>
            <li><a routerLink="./clientes"><i class="material-people">Clientes</i>Clientes</a></li>
            <!--li><a href="#!">Second Link</a></li-->
            <!--li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li-->
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="small material-icons">menu</i></a>
    </div>
    <router-outlet></router-outlet>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Procesando...</p>
    </ngx-spinner>
</div>