<div class="row">

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">{{texto.empresa}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a title="Gestión de Usuario" (click)="menuUsuario()">{{texto.menuusuario}}</a></li>
                <li><a title="Iniciar Sesión" (click)="logOut()">{{texto.cerrar}}</a></li>
            </ul>
        </div>
    </nav>
    <img class="classImage" src="assets/img/tiendita.jpeg" alt="">
    <div class="col s12 m12 l12 centrado">
        <span class="txtGrande">{{texto.bienvenida}}</span>
    </div>
</div>